---
import Layout from '../layouts/Layout.astro'
import Card from '@components/Card.astro';
---

<Layout title="Kitty">
  <main>
    <section class="route-link">
      <Card title='Elephant' body='Elephant' href='/elephant'/>
      <Card title='Glow' body='Glow' href='/glow'/>
      <Card title='Candle' body='Candle' href='/candle'/>
      <Card title='Truck' body='Truck' href='/truck'/>
      <Card title='Christmas globe' body='Christmas globe' href='/christmas-globe'/>
      <Card title='Astronaut' body='Astronaut' href='/astronaut'/>
      <Card title='Submarine' body='Submarine' href='/submarine'/>
      <Card title='Palette' body='Palette' href='/palette'/>
      <Card title='Pacman' body='Pacman' href='/pacman'/>
      <Card title='Mail' body='Mail' href='/mail'/>
      <Card title='Hello' body='Hello' href='/hello'/>
    </section>
    <section>
      <div class="cat">
        <div class="ear ear--left"></div>
        <div class="ear ear--right"></div>
        <div class="face">
          <div class="eye eye--left">
            <div class="eye-pupil"></div>
          </div>
          <div class="eye eye--right">
            <div class="eye-pupil"></div>
          </div>
          <div class="muzzle"></div>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style lang="scss">
  
  @import '../styles/cat.scss';
  .route-link {
    padding: 10px 10px 10px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
</style>
