---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Pacman">
  <main class="container">
    <div class="pacman"></div>
    <div class="path"></div>
    <div class="path"></div>
    <div class="path"></div>
    <div class="path"></div>
    <div class="path"></div>
    <div class="path"></div>
    <div class="path"></div>
    <div class="path"></div>
  </main>
</Layout>

<style lang="scss">
  @import '../styles/pacman.scss';
</style>
