---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Palette">
  <main>
    <div class="swatch">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </main>
</Layout>

<style lang="scss">
  @import '../styles/palette.scss';
</style>
